.container {
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
    padding: 20px 0;

    .title {
        font-size: 18px;
        margin-bottom: 10px;
        color: var(--yellow-color); 
    }
    .email {
        font-family: var(--font-manrope-reg), sans-serif, Arial, Helvetica;
        margin-bottom: 15px;
    }

    .newNoteButton {
        font-size: 16px;
        width: 100%;
        padding: 12px;
        margin-bottom: 10px;
        background-color: #333;
        color: var(--yellow-color);
        border: 2px solid transparent; 
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
        &:hover {
          background-color: #555; 
          transform: scale(1.02);
          border-color: #e19500; 
        }
      }

    .notesHeader {
        align-self: center;
        font-size: 28px;
        margin: 20px 0;
    }

    .sortContainer {
        font-family: var(--font-manrope-reg), sans-serif, Arial, Helvetica;
        margin-bottom: 20px;

        .sortLabel {
            font-size: 16px;
            margin-right: 10px;
        }
        .sortSelect {
            font-size: 14px;
            padding: 8px;
            border-radius: 5px;
            background-color: #e0e0e0a8; 
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #e0e0e0; 
            }
        }
    }

    .notesList {
        list-style: none;
        padding: 0;

        .noteItem {
            margin-bottom: 15px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            padding: 10px;

            .noteTitle {
                font-size: 18px;
                margin-bottom: 5px;
            }
            .noteDate {
                font-family: var(--font-manrope-reg), sans-serif, Arial, Helvetica;
                font-size: 12px;
                color: #a0a0a0;
                margin: 5px 0;
            }
            .noteDescription {
                font-family: var(--font-manrope-reg), sans-serif, Arial, Helvetica;
                font-size: 14px;
                white-space: pre-wrap;
                margin: 5px 0 15px;
            }

            .noteActions {
                display: flex;
                gap: 10px;

                .editButton,
                .deleteButton {
                    padding: 8px;
                    border: none;
                    border-radius: 5px;
                    border: 2px solid transparent; 
                }
                .editButton {
                    background-color: #333;
                    color: var(--yellow-color);
                    &:hover {
                        background-color: #555; 
                        border-color: #e19500; 
                    }
                }
                .deleteButton {
                    background-color: #333;
                    color: #999;
                    &:hover {
                        background-color: #555; 
                        border-color: #999; 
                    }
                }
            }
        }
    }
}
