.container {
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
    padding: 20px;

    .title {
        font-size: 28px; 
        margin-bottom: 20px;
        color: var(--yellow-color);
    }

    .inputGroup {
        margin-bottom: 10px;

        .input {
            width: 100%;
            margin-top: 5px;
            padding: 12px; 
            border: 2px solid transparent; 
            border-radius: 5px;
            background-color: #e0e0e0a8; 
            transition: border 0.3s ease;
            &:focus {
                background-color: #e0e0e0;
                border: 2px solid #e19500; 
                outline: none;
            }
        }
    }

    .importantGroup {
        margin-bottom: 20px;
    
        .importantCheckbox {
            width: 15px; 
            height: 15px; 
            appearance: none; 
            background-color: white; 
            border-radius: 3px; 
            position: relative; 
            &:checked {
                border: 2px solid #e19500;
                &::after {   //кастомная галочка
                    content: ''; 
                    position: absolute;
                    left: 3px;
                    top: -2px;
                    width: 5px;
                    height: 10px;
                    border: solid #e19500; 
                    border-width: 0 2px 2px 0; 
                    transform: rotate(45deg); 
                }
            }
        }
    }

    .error {
        color: red;
        font-family: var(--font-manrope-reg), sans-serif, Arial, Helvetica;
        font-size: 12px; 
        font-weight: 300; 
        margin-top: 5px;
    }

    .newNoteButton {
        font-size: 16px;
        width: 100%;
        padding: 12px;
        background-color: #333;
        color: var(--yellow-color);
        border: 2px solid transparent; 
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
        &:hover {
            background-color: #555; 
            transform: scale(1.02);
            border-color: #e19500; 
        }
    }
}



